thead {
    font-weight: bold;
    background: black;
    color: white;
}
table {
    width: 400px;
    border-collapse: collapse;
}
td {
    padding: 5px;
    border: 1px black solid;
}
tr:nth-child(even) {
    background-color: #f0f0f0;
}
