.post-image {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 5px;
}

.post {
    border: solid lightgray 1px;
    border-radius: 10px;
    margin: 10px 5px 10px 0;
    padding: 5px;
    min-height: 112px;
}

.post p {
    position: relative;
    left: 8px;
}

.container {
    max-width: 900px;
}

.input-column {
    padding: 5px;
}

.modal-content {
    text-align: center;
    padding: 15px;
    font-size: 14pt;
}